/* fonte principal */
@font-face {
    font-family: NetflixSans ;
    src: url(../fonts/NetflixSans-Bold.otf);
}
/* fonte negrito */
@font-face {
    font-family: NetflixMed;
    src: url(../fonts/NetflixSans-Medium.otf);
}
@font-face {
    font-family: NetflixBold;
    src: url(../fonts/NetflixSans-Bold.otf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: NetflixSans;
}
:root{
    --CorPrimaria: red;
    --CorSecundaria: white;
    
}
body{
    background-color: rgb(0, 0, 0);
}

.Cabecalho{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;  
    align-items: center;
    width: 100%;
}

#menu{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    text-align: left;
    gap: 50px;
    margin-right: 15%;
    flex-direction: row;
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    /* list style para tirar a decoração de lista */
    padding: 0 20px;
    height: 100%;
    align-items: center;
}
.pesquisar{
   display: flex;
   flex-direction: row;
}

input{
    padding-left: 2%;
    margin: 10px;
    border: solid 1px;
    border-radius: 10px;
    float: left;
    background-color: transparent;
    font-size: 18px;
    
}
#imgUSUARIO{
    display: block;
    margin: 10px;
    align-items: center;

}
/* Acrescentar um texo dentro da imagem banner */
#banner{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    font-size: 32px;
    width: 97%;
    
}
#texto{
    font: NetflixBold;
    position: absolute;
    flex-direction: column;
    top: 20%;
    left: 0%;
    padding: 8px;
    margin: 10px;
    display: flex;
    text-align: left;
    width: 50%;
    font-size: 20px;
    gap: 8px;
}
#NARCOS{
    font: NetflixBold;
    font-size: 100px;
}
/* Hierarquia de pai para filho / pai  position relative , filho position absolute */
/* FIM - Acrescentar um texo dentro da imagem banner */
#gambiarra{
    margin: 10px;
}

.conteiner{
    margin: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    

}
.conteiner h2{
    display: flex;
    text-align: center;

}
h2, p, a{
    color: var(--CorSecundaria);
    font: NetflixBold;
    text-decoration: none;
}
.bannerEnd{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.colordiv{
    display: flex;
    text-align: center;
    width: 100%;
    gap: 1px;
}
#box1 {
    background-color: aqua;
    
}
#box2 {
    background-color: rgb(30, 0, 163);
  
}
#box3 {
    background-color: rgb(226, 136, 0);
  
}
#box4 {
    background-color: rgb(202, 1, 1);
  
}
#box5 {
    background-color: rgb(169, 199, 0);
  
}
#box6 {
    background-color: rgb(8, 167, 2);
  
}
#box7 {
    background-color: rgb(165, 0, 180);
    
}
#box8 {
    background-color: rgb(226, 136, 0);
    
}
.box{
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 1px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    height: 30px;
    background-color: rgb(105, 105, 105);
    text-align: center;
    padding: 20px;
    font: NetflixSans;
    
}
/* PROBLEMAS NO CÓDIGO
------------------------
não consegui editar os botoes Assistir e Adicionar lista
não consegui descer o h2 abaixo do banner principal
não consegui colocar o gap entre as imagens
não consegui colocar o icone



*/